## Python codes :

#### Problem - Find all even numbers between range

In [ ]:
def evenNum(lower,upper):
    n = lower
    while (n <= upper):
        if ( n % 2 == 0):
           print(n)
        n=n+1
evenNum(0,11)

#### Problem - Find the prime number between 1 to 100

In [ ]:
def isPrime(n):
    for x in range(2,n):
        if(n%x==0):
            return False
    return True;        

def prime(n):
    for x in range(2,n+1):
         if(isPrime(x)==True):
            print(x)    
prime(100)

#### Problem -  Count the prime number between 1 to 100

In [ ]:
def isPrime(n):
    for x in range(2,n):
        if(n%x==0):
            return False
    return True;        

def prime(n):
    count=0
    for x in range(2,n+1):
         if(isPrime(x)==True):
            count +=1
    print(count)    
prime(100)

#### Problem -  Find the average of the numbers

In [ ]:
values = [23,44,65,32,11,77,54]
sum=0
length=0
for value in values:
    sum += value
    length += 1
print("average :", str(sum/length))

#### Problem - Fahrenheit to celsius converter

In [ ]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print(str(x)+ "F" , to_celsius(x),"*C")

#### Problem - Print first 10!

In [ ]:
def factorial(n):
    result = 1
    for x in range(1,n):
        result = result*x
    return result

for x in range(1,10):
    print(x, factorial(x+1))

#### Problem - Prints the multiples of 7 between 0 and 100

In [ ]:
def printDividedBySevenInRange(n):
    for x in range(0,n+1):
        if(x%7==0):
            print(x)

printDividedBySevenInRange(100)

#### Problem - Print multiples of the number till 100

In [ ]:
def multiple_of(n):
    for x in range(0,101):
        if(x%n == 0):
            print(x)
       
print(multiple_of(2))

#### Problem - Find how many digits the number have

In [ ]:
def digit(n):
    count = 0
    while (n>0):
        count +=1
        n=n//10
    print(count)
digit(25657)

#### Problem - Check using length and breadth if given mesaurements will make a rectangle or square.

In [ ]:
def isRecOrSq(lenght,breath):
    if lenght == breath:
       print("This is a square")
    else:
        print("This is a rectangle")
isRecOrSq(8,9)
isRecOrSq(5,5)

#### Problem - Sum of all the natural numbers upto 10

In [ ]:
def sumNum(n):
    x = 1
    sum = 0
    while (x <= n):
        sum = sum + x
        x=x+1
    print(sum)
sumNum(10)

#### Problem - Print all the numbers in the given list in the sequence till the number is divisble by 6
``` list_set = [2,4,7,13,19,18,21,23,35,36]```

In [ ]:
list_set = [2,4,7,13,19,18,21,23,35,36]
n=0
while n <= (len(list_set)-1):
    if (list_set[n]%6==0):
        break
    print(list_set[n])
    n=n+1

#### Problem - Print given pattern
```
*
**
***
****
*****
```

In [ ]:
def star(x):
    n=1
    while (n <= x):
        m=1
        while (m <= n):
            print("*",end="")
            m=m+1
        n=n+1
        print()
star(5)

#### Problem - Print multiplication table till 10 for numbers from 1 to 9 using a nested while and for loop

In [ ]:
def table(n):
    x=1
    while (x<=10):
        print(n*x,end=" ")
        x=x+1

def table1(n):
    m=1
    while(n>m):
        table(m)
        print()
        m=m+1
table1(11)

#### Problem - print given pattern
```
*****
****
***
**
*
```

In [ ]:
def star(n):
    while(n>0):
        print("*",end="")
        n=n-1

def starNew(m):
    while(m>0):
        star(m)
        m=m-1
        print()

starNew(5)

#### Problem - print given pattern
```   
    *
   **
  ***
 ****
*****

In [ ]:
def star(x):
    s= x-1 #number of spaces
    
    for m in range(0,x):     #for number of rows
        for n in range(0,s):     #for number of spaces
            print(end=" ")     
        s= s-1
        for n in range(0,m+1):         #for number of columns
            print("*",end="") 
        print() 

star(5)

#### Problem - Find the number of words with length of 5, present in the given sentence
```
s = "The Dowry system is evil in society. It has reduced the sacred affair of marriage to a business deal. Brides are treated as a marketable commodity. The parents of the brides are often put under inhuman pressure for a handsome dowry. Sometimes they become paupers to get their daughters married. In many cases, young brides are ruthlessly tortured or pushed to suicide" 
```

In [ ]:
import re


s = "The Dowry system is evil in society. It has reduced the sacred affair of marriage to a business deal. Brides are treated as a marketable commodity. The parents of the brides are often put under inhuman pressure for a handsome dowry. Sometimes they become paupers to get their daughters married. In many cases, young brides are ruthlessly tortured or pushed to suicide"
x = re.split('. | ' ' | , ',s)
count = 0
for i in x:
    if len(i)==5:
        count = count +1;
print(count)

#### Problem - Calculate the number of digits and number of characters.(it includes letters, digits, special characters including space) in the given string and find the sum of the digits
```
lng_str = "jjt8g%ust!58thg8rthgurt5out9t yfohu%$lkfw3uw4twkejlrwe7werhwa1khed7fjfslfjd9dhh!ehhl*ksf8fjlko%o995h@g87strf7fef4sen98%t1jj2(jghj6j$&jshh47@dhkljkaf6a"
```

In [ ]:
lng_str = "jjt8g%ust!58thg8rthgurt5out9t yfohu%$lkfw3uw4twkejlrwe7werhwa1khed7fjfslfjd9dhh!ehhl*ksf8fjlko%o995h@g87strf7fef4sen98%t1jj2(jghj6j$&jshh47@dhkljkaf6a"
sum = 0
for element in lng_str:
    if element.isdigit():
        sum += int(element)

print(sum)

#### problem - Find if 10 is part of the list
```
l = [10, 20, 30, 'Relevel']
```

In [ ]:
l = [10, 20, 30, 'Relevel']
if 10 in l:
    print("True")

#### Problem - Find the capital of 'Maharashtra in the Dict
```
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}
```

In [ ]:
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}
print(cities['Maharashtra'])

#### Problem - Iterate all the values of the states from the Dict
```
cities = {'Maharashtra': 'Mumbai', 'Tamil Nadu': 'Chennai', 'Rajasthan': 'Jaipur', 'Punjab': 'Chandigarh', 'Haryana': 'Chandigarh'}
```

In [ ]:
print(cities.values())

#### Problem - Check if Nested_dict has a key "Key_1" 
```
Dummy_Dict = {'Key1': 'Value 1', 0: 1, 'Nested_dict': {'Key_1': 'V1', 'Key2': 2}, 'List_Values': [0, 1, 2, 3, 4]}
```

In [ ]:
Dummy_Dict = {'Key1': 'Value 1', 0: 1, 'Nested_dict': {'Key_1': 'V1', 'Key2': 2}, 'List_Values': [0, 1, 2, 3, 4]}

if 'Key_1' in Dummy_Dict['Nested_dict']:
    print("Nested_dict has a key- 'Key_1'")

#### Problem - Iterate all the values of the tuple
```
t = (10, 20, 30, 'Relevel')
```

In [ ]:
t = (10, 20, 30, 'Relevel')
for i in t:
    print(i)

#### Problem - Iterate following list as a set variable
```
l = [1,1,1,1,2,2,3,3,4,5,5,5,5,5]
```

In [ ]:
l = [1,1,1,1,2,2,3,3,4,5,5,5,5,5]
set_var = set(l)
for i in set_var:
    print(i)

#### Problem - print the multiplication table till 5 for each item in elements list
```
number = [1,2,3,4,5]
elements = [5,10]
```

In [ ]:
number = [1,2,3,4,5]
elements = [5,10]
for y in elements: 
    for x in number:
        print(x*y) 
    print()

#### Problem - Print all the letters in word PYTHON except letter "T"

In [ ]:
x = "PYTHON"
for i in x:
    if i=='T':
        continue
    print(i)

#### Problem - Print all the letters in the word PYTHON except letter "Y" using pass statement

In [ ]:
x = "PYTHON"
for i in x:
    if i=='Y':
        pass
    else:
        print(i)

#### Problem - Display numbers in given list before number 10
```
seq = [2,4,20, 14, 10, 29, 33,7]
```

In [ ]:
seq = [2,4,20, 14, 10, 29, 33,7]
for i in seq:
    if i ==10:
        break
    print(i)

#### Problem : Print a random integer between 100 and 135

In [ ]:
for i in range(100,136):
    print(i)

#### Problem : Given below is a list, convert into a set and print the output also print the length of the set.
```list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]```

In [ ]:
list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]
set1=set(list4)
print(set1)
print(len(set1))

#### Problem : Given below are two sets, perform the operations given below:
```
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}
```
1. Print their union
2. Print their intersection
3. Print their difference
4. Print their symmetric difference

In [ ]:
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}
print("Union:", a.union(b))
print("Intersection:", a.intersection(b))
print("Difference:", a.difference(b))
print("Symmetric_Diff:", a.symmetric_difference(b))

#### Problem : Find out the index of the number **1000000**.

```new_list = [ -100000000, -10000000, -1000000, -100000, -10000, -1000, -100, -10, 1, 10, 100, 1000, 10000, 100000, 1000000, 10000000, 100000000]```

In [ ]:
new_list = [ -100000000, -10000000, -1000000, -100000, -10000, -1000, -100, -10, 1, 10, 100, 1000, 10000, 100000, 1000000, 10000000, 100000000]
print(new_list.index(1000000))

#### Problem - Access 5 and 11 from the list

```
lst = [9, 10, [11, 12]]
nested_list = [1, 2, 3, [4, 5, 6], 7, 8, lst]
```

In [ ]:
lst = [9, 10, [11, 12]]
nested_list = [1, 2, 3, [4, 5, 6], 7, 8, lst]
print(nested_list[3][1])
print(nested_list[6][2][0])

#### Problem - Print [0, 2, 4, 6, 8] from the below list.

```
num_range = [0,1,2,3,4,5,6,7,8,9]
```

In [ ]:
num_range = [0,1,2,3,4,5,6,7,8,9]
num_range[0:10:2]

#### Problem - Find out the maximum, minimum value from below list. Additionally, find the sum of all values.

```
New_list = [25, 67, 35, 25, 78, 91, 25, 10 , 55, 67, 84, 34, 55, 25, 78, 90, 57, 30, 78, 91, 49, 62, 90, 10, 11, 55, 27, 78, 67, 30, 79, 184, 92, 14, 19, 78, 25, 235, 67, 35, 25, 78, 91, 25, 10 , 55, 67, 84, 34, 55, 25, 55, 27, 78, 67, 30, 79, 184, 92, 14, 19, 78, 25, 35, 167, 35, 25, 78, 55, 67, 84, 34, 55, 125, 78, 90, 57, 30, 78, 91, 49, 62, 90, 110, 311, 55, 27, 78, 67, 30, 79, 84, 92, 14 ]
```

In [ ]:
new_list = [25, 67, 35, 25, 78, 91, 25, 10 , 55, 67, 84, 34, 55, 25, 78, 90, 57, 30, 78, 91, 49, 62, 90, 10, 11, 55, 27, 78, 67, 30, 79, 184, 92, 14, 19, 78, 25, 235, 67, 35, 25, 78, 91, 25, 10 , 55, 67, 84, 34, 55, 25, 55, 27, 78, 67, 30, 79, 184, 92, 14, 19, 78, 25, 35, 167, 35, 25, 78, 55, 67, 84, 34, 55, 125, 78, 90, 57, 30, 78, 91, 49, 62, 90, 110, 311, 55, 27, 78, 67, 30, 79, 84, 92, 14 ]
print(max(new_list))
print(min(new_list))
sum(new_list)

#### Problem - Print first name and last name by taking first and last name as arguments

In [ ]:
first_name = "Abhilasha"
last_name = "Yagyaseni"
print("My name is :", first_name, last_name)

#### Problem - Print if number is odd or even for all the numbers in the given list
```
num_list = [10,23,24,90,43, 83, 89]
```

In [ ]:
num_list = [10,23,24,90,43, 83, 89]
for i in num_list:
    if i % 2 ==0:
        print("Even")
    else:
        print("Odd")

#### Problem - Sort the name of states according to given codes in ascending order.

```State_and_codes= [('Maharashtra', 102), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('West Bengal', 78)]```

In [ ]:
State_and_codes= [('Maharashtra', 102), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('West Bengal', 78)]
sorted(State_and_codes)

#### Program - Write a function that takes in a list and returns a new list with all the unique elements (without using Python inbuilt functions)

In [ ]:
list1 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
new_list = []
for i in list1:
    if i not in new_list:
        new_list.append(i)
print(new_list)

#### Problem - Write a Python function that checks whether a passed string is palindrome or not.

Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g. step on no pets.

In [ ]:
def isPalindrome(x):
    if x.strip() == x.strip()[::-1]:
        print('String is palindrome')
    else:
        print('String is not palindrome')

isPalindrome('step on no pets')

#### Problem - Write a function prodDigits() that inputs a number and returns the product of digits of that number.

Input : 54 ||
Output : 20  

Input : 34 ||
Output : 12

In [ ]:
def prodDigits(input):
    result = 1
    for i in str(input):
        result = result*int(i)
    return result
print(prodDigits(54))
print(prodDigits(34))

#### Problem - Convert list of mixed values into int datatype.

```l = [1, 2, "3", 4, 5.0]```

Note: Use `isinstance` function to validate datatype.

In [ ]:
l = [1, 2, "3", 4, 5.0]
new_l = [int(i) for i in l]
print(new_l)

for n in new_l:
    print(isinstance(n,int))

#### Problem - Write a map function that multiplies 3 to each item in the list.

```num_list=[10, 20, 30, 40, 50, 60]```

In [ ]:
num_list=[10, 20, 30, 40, 50, 60]
def multiply(n):
    return n*3
result = map(multiply,num_list)
print(list(result))

#### Problem - Filter and print all the vowels using filter function from the word "Abhilasha"

In [ ]:
result = filter(lambda x:(x in  ["a","e","i","o","u"]),"Abhialsha".lower())
print(list(result))

#### Problem - Find the factorial of 6 using reduce function

#### Problem - Convert list of strings into integer

```str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]```

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
result = map(lambda x:int(x),str_nums)
print(list(result))

#### Problem - Converting Temperatures (From Fahrenheit to Celsius and vice versa) using a map function

Fahrenheit to Celsius formula conversion: <br>
Fahrenheit (F) = 9 / 5 * celsius + 32 <br>

Celsius (C) = (fahrenheit - 32) * 5 / 9

Convert following celsius temperature to fahrenheit. <br>
celsius_temps = [100, 40, 80]

Convert following fahrenheit temperature to celsius. <br>
fahr_temps = [212, 104, 176]

In [ ]:
celsius_temps = [100, 40, 80]
con_into_fah = map(lambda x:(9/5)*x+32,celsius_temps)
print("Fahrenheit temp: " + str(list(con_into_fah)))


fahr_temps = [212, 104, 176]
con_into_cel = map(lambda x : (x-32)*5/9, fahr_temps)
print("Celsius temp : "+ str(list(con_into_cel)))

#### Program - Write a function to check if following words are palindrome

```words = ("filter", "Ana", "hello", "world", "madam", "racecar")```

In [ ]:
words = ("filter", "Ana", "hello", "world", "madam", "racecar")
for i in words:
        lower = i.lower()
        if lower == lower[::-1]:
            print(True)
        else:
            print(False)

#### Problem - Check if “listen” and “silent” are an anagram of each other.

In [ ]:
str_1 = "listen"
str_2 = "silent"
if sorted(str_1) == sorted(str_2):
    print("This is an anagram")

#### Problem - create an array with random integer.

In [ ]:
import numpy as np
arr = np.random.randint(1,100,12)
arr = arr.reshape(2,2,3)
arr

#### Problem - Create an empty array.

In [ ]:
import numpy as np
arr = np.array([[6,2],[7,2]])
arr.shape

#### problem - Get the values from the given matrix.
``` data type, Max value, Min value, shape of the matrix```

In [ ]:
import numpy as np

val = np.matrix('[16,18;21,19]')
print(type(val))
print(val)
print("Max value - ", val.max())
print("Min value - ", val.min())
print("Shape of the matrix -", val.shape)

#### Problem - Create dataframe.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data = np.arange(0,20).reshape(4,5), index = ["R1","R2","R3","R4"], columns = ["C1","C2","C3","C4","C5"] )
type(df)

pandas.core.frame.DataFrame